@import 'reset';

$card-w: 50px;
$card-h: 80px;
$card-font-size: 14px ;

// typography

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}

.menu .error-msg{
  color: red;
}

// layout

.container {
  margin: 0 50px;
  font: 14px sans-serif;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}

.menu {
  display: grid;
  width: 100%;
  height: 30px;
  grid-template-columns: 20% 1fr 20%;
}
.menu .players {
  text-align: left;
}
.menu .error-msg {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  grid-column: 2 / 2;
}

.table {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 50% 1fr 30%;
}

.stock {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

.discard {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.board {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

// common elements

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #6d8cb0
}

// cards

.card {
  background: lightblue;
  width: $card-w;
  height: $card-h;
  display: inline-block;
  margin: 2px;
  border: solid grey 2px;
  font-size: $card-font-size
}
.card.shift-left {
  margin-left: -($card-w - 10)
}
.card.shift-top {
  margin-top: -($card-h - 25)
}
.player .card {
  width: $card-w * 1.5;
  height: $card-h * 1.5;
  font-size: $card-font-size * 1.5;
}

.suit.red {
  color: red
}
.suit.black {
  color: black
}

@each $rank, $sign in (six, '6'),
                      (seven, '7'),
                      (eight, '8'),
                      (nine, '9'),
                      (ten, '10'),
                      (jack, 'J'),
                      (queen, 'Q'),
                      (king, 'K'),
                      (ace, 'A') {
  .rank.#{$rank}-sign::after {
    content: $sign;
  }
}

.pile {
  display: inline-block;
}

// hands

@each $ai-players, $grid-template-columns in (1, 100%),
                                             (2, 50% 50%),
                                             (3, 33.333% 33.333% 33.333%)  {
  .hands-ai-#{$ai-players} {
    display: grid;
    width: 100%;
    grid-template-columns: $grid-template-columns;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  };
}
.hand {
  display: inline-block;
  background: lightgrey;
}
.hand.attacker {
  background: yellow;
}
.hand.defencer {
  background: lightgreen;
}
.hand.player {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

.done-btn {
  vertical-align: top;
}

// other game items

